@import url(http://fonts.googleapis.com/earlyaccess/droidserifthai.css);

$font-size: 18px;
$box-margin: 5mm;
body {
    margin: 0px;
    height: auto;
    width: 297mm;
    font-family: 'Angsana';
    font-size: $font-size;
    letter-spacing: -0.5px;
    text-rendering: optimize-speed;
}

.bold {
    font-weight: 600px;
}


.page {
    height: 210mm;
    width: 297mm;
    clear: both;
    display: block;
    page-break-after: auto;
    overflow: hidden;
}
.wrapper {
    $padding: 8mm;
    height: 210mm - 2*$padding;
    width: 148.5mm - 2*$padding;
    padding: $padding;
    margin: 0px;
    float: left;
    position: relative;
}

.border {
    height: 200mm;
    width: 148.5mm;
    position: absolute;
    border-right: 1px solid black;
    right:0px;
    top: -5px;
}

.certificate {
    position: relative;
    width: 100%;
    height: 100%;
}

.clearfix {
    clear: both;
}

.center {
    text-align: center;
}


.header {
    font-size: $font-size+4;
}

.logo {
    width: 25mm;
    height: 25mm;
}

.content {
    margin-top: 10mm;
}

.doc-no {
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
}
.address {
    position: absolute;
    right: 0;
    top: 4mm;
    font-size: $font-size - 4;
}

.profile-image {
    position: absolute;
    height: 40mm;
    width: 33mm;
    border: 0.25mm solid black;
    left: 0;
    top: 15mm;
}

.name {
    font-family: 'AngsanaBaliBold';
    margin: 2*$box-margin 0 5mm 0;
}

.ordain-info {
    margin: $box-margin 0 $box-margin 0;
}

.grand-monk {
    margin: $box-margin 20%;
    width: 100%;

    td {
        line-height: $font-size;
    }
}

.issue-date {
    margin: $box-margin 0 0 0;
}


.approve-person .signature {
    height: 2*$box-margin;
}

.approve-person .info {
    font-weight: bold;
    line-height: $font-size;
}


