// Place all the styles related to the Monks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table {
    width: 100%;
}

fieldset {
    width: auto;
    display: inline-block;
    float: left;
    padding-right: 20px !important;
    width: 50%;

    &.has-border {
        border-right: 1px gray solid;
    }

    .pure-button {
        float: right;
    }
}

.center {
    text-align: center;
}

input[type=number], input[type=text].number {
    width: 15%;
}

input[type=text].bigger {
    width: 60%;
}

