<h1>Monk Certificate</h1>
<form action="/certificate">
    name <input type="text" name="name"/> <br>
    pdf ? <input type="checkbox" name="type" value="pdf"/> <br>
    <input type="submit" value="submit"/>
</form>
